*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.nav-container{
    margin: 0 auto;
}

#nav-area{
    height: 6.5rem;
}
 
.nav{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px dotted rgb(219, 219, 219);
}

.nav-list{
    display: flex;
    gap: 3rem;
}

.nav-list li{
    font-weight: bold;
    cursor: pointer;
}

.nav-list li:hover{
    color: grey;
}

select:nth-child(1):hover{
    color: grey;
}

.dropdown{
    color: black;
    border: none;
    width: 6.5rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
}

.dropdown option{
    background-color: #b0b0b0;
    color: white;
}

.logo{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

/* Main start */

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.cards{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

#main{
    border-bottom: 3px dotted rgb(219, 219, 219);
}
.hero{
    flex: 1 1 60%;
    position: relative;
    height: 60rem;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.hero-content{
    position: absolute;
    top: 0;
    left: 6rem;
    width: 100%;
    height: 100%;
    color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-content h1{
    font-size: 5.5rem;
    margin-bottom: 1rem;
}

.hero-content p{
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.btn{
    background: transparent;
    color: white;
    padding: 1.2rem 2.4rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.2rem;
    width: fit-content;
    border: 1px solid white;
    cursor: pointer;
}

/* Categories */
.categories{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 35%;
    gap: 1rem;
}

.category{
    flex: 1 1 48%;
    position: relative;
    border-radius: 0.8rem;
    overflow: hidden;
}

.category img{
    width: 100%;
    height: 29.2rem;
    object-fit: cover;
    display: block;
}

.text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.text h2{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.text p{
    font-size: 1.6rem;
}

/* Women */
#women{
    max-width: 100rem;
    margin: 0 auto;
    padding: 5rem 2rem;
    border-bottom: 3px dotted rgb(219, 219, 219);
}

.women-latest h2{
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

.women-latest p{
    font-size: 1.8rem;
    color: #777;
    margin-bottom: 3rem;
}

.women-image{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: nowrap;
}

.women-image img{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    background-color: #ddd;
    height: 30rem;
    margin-bottom: 1rem;
}

.women-image h3{
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
}

.women-image p{
    font-size: 1.8rem;
    color: #333;
}

/* Explore */

#explore{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    max-width: 100rem;
    margin: 0 auto;
    margin-top: 5rem;
    border-bottom: 3px dotted rgb(219, 219, 219);
}

/* Left */
.exp-content{
    width: 50%;
    padding: 2rem;
}

.exp-content h2{
    font-size: 3.6rem;
    margin-bottom: 2rem;
}

.exp-content p{
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #555;
}

.exp-content button{
    padding: 1.2rem 2.4rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.6rem;
    margin-top: 1rem;
}

.exp-content button:hover{
    background-color: white;
    color: black;
}

/* Right */
.exp-pictures{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
}

.top-row,
.bottom-row{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.box1,
.box4{
    background-color: #ddd;
    color: black;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.box1 h3,
.box4 h3{
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.box1 p,
.box4 p{
    font-size: 1.6rem;
    opacity: 0.5;
}

.box2,
.box3{
    width: 50%;
}
.box2 img,
.box3 img{
    width: 100%;
    height: auto;
    display: block;
}

/* Social */
#social{
    max-width: 100rem;
    margin: 0 auto;
    margin-top: 5rem;
    border-bottom: 3px dotted rgb(219, 219, 219);
}

.social-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    margin-left: 20rem;
    margin-bottom: 6rem;
}

.social-header h2{
    font-size: 3.5rem;
}

.social-header p{
    opacity: 0.5;
    margin-top: 1rem;
}

